{% extends 'base_front.html.twig' %}


{% block body %}
<br>
<br>
<br>

<a href="{{path('addSuggestion')}}" >
<img src="{{ asset('sugg.png') }}">
</a>

{% endblock %}
{% block footer %}

{% endblock %}