{% extends './base_front.html.twig' %} {% block title %}forget pass{% endblock
%} {% block body %}
<div class="content-wrapper">
  <section class="signup-area ptb-100">
    <div class="container">
      <div class="signup-content">
        <h3>Change your Password</h3>

        {{ form_start(passForm) }}
        {{ form_errors(passForm) }}
        <div class="form-group">
          {{ form_row(passForm.plainPassword) }}
        </div>

        <button class="default-btn" type="submit">Envoyer</button>

        {{ form_end(passForm) }}
      </div>
    </div>
  </section>
</div>
{% endblock %}
