{% block title %}New Jeux{% endblock %} {% block body %}

<h3>Ajaaa</h3>
<img
  src="https://i.ibb.co/dkbx0dj"
  alt="Image du jeu"
  width="50%"
  height="50%"
/>

{{ jeux.type }} vous avez gagner le {{ jeux.produit }} Mabrouk {% endblock %}
