{% block title %}New Jeux{% endblock %} {% block body %}


<html><center><a href='https://ibb.co/gv67FFT'><img src='https://i.ibb.co/5Y29xx8/logo-removebg.png' height=20%;width=20%></a></center></html>

{{ jeux.type }} vous avez gagner le {{ jeux.produit }} Mabrouk {% endblock %}
