{% extends 'base_front.html.twig' %}

{% block title %}My Messages{% endblock %}

{% block body %}
  <div class="container">
    <h2 class="text-center my-4">Messages reçus</h2>
</br><br>
    <div class="row">
      <div class="col-md-6">
        {% if receivedMessages is empty %}
          <p>Vous n'avez reçu aucun message.</p>
        {% else %}
          <ul class="list-group">
            {% for message in receivedMessages %}
              <li class="list-group-item">
                <a href="{{ path('app_message_show', {id: message.id}) }}">
                  <span class="fw-bold">{{ message.sender.nom }} {{ message.sender.prenom }}:</span> {{ message.objet }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

    </div>
  </div>
  <br></br><br></br><br></br><br>
{% endblock %}
