{% extends 'base_front.html.twig' %}

{% block body %}

<h1>Réponses pour la réclamation {{ reclamation.id }}</h1>

    <table class="table">
        <thead>
            <tr>
           
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% if response is not empty %}
                <tr>
                  
                    <td>{{ response.content }}</td>
                    <td>{{ response.createdAt|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune réponse pour cette réclamation.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}
